
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-6 col-md-6 d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex list-unstyled mb-0">
                    <li class="nav-item me-4">
                        <i class="fa-solid fa-envelope"></i>
                        <span style="font-size: 14px;">hello@literaturesite.com</span>
                    </li>
                    <span class="separator">|</span>
                    <li class="nav-item">
                        <span style="font-size: 14px;">1 Free Book for all Orders over $50</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-end align-items-center">
                <div class="d-flex align-items-center me-4">
                    <a href="#" class="text-dark social-link me-2"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="text-dark social-link me-2"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="text-dark social-link me-2"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#" class="text-dark"><i class="fa-brands fa-pinterest-p"></i></a>
                </div>
                <span class="separator">|</span>

                <div class="dropdown me-4">
                    <button class="btn-link dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="img/language.png" alt="" class="me-2">
                        English
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Spanish</a></li>
                        <li><a class="dropdown-item" href="#">English</a></li>
                    </ul>
                </div>
                <span class="separator">|</span>
                <a href="#" class="text-dark">
                    <i class="fa fa-user me-2"></i> Login
                </a>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand d-flex justify-content-between align-item-center order-lg-0" href="/Default">
            <img src="~/literatureSiteProject/img/png1.png" alt="site-icon" style="width: 50px; height: auto;">
            <span class="text-uppercase fw-lighter ms-2">LiteratureSite</span>
        </a>
        <div class="order-lg-2 nav-btns">
            <button type="button" class="btn position-relative">
                <i class="fa fa-shopping-cart"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge bg-primary">5</span>
            </button>
            <button type="button" class="btn position-relative ms-2">
                <i class="fa fa-heart"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge bg-primary">2</span>
            </button>
            <button type="button" class="btn ms-2">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-lg-1" id="navMenu">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" href="/Default">HOME</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" href="/Book">SHOP</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" href="/Blog">BLOGS</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" href="/About">ABOUT</a>
                </li>
                <li class="nav-item px-2 py-2 border-0">
                    <a class="nav-link text-uppercase text-dark" href="#footer">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>